<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Newton" />
		<meta name="description" content="Ron Newton is a sole practitioner dedicated to providing dynamic and personal attention to the needs of his clients." />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Ron Newton - Attorney at Law</title>

		<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="/ui/stylesheets/common.css" />
		<link rel="shortcut" href="favicon.ico" />

		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76231933-3"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'UA-76231933-3');
		</script>
	</head>

	<body itemscope itemtype="https://schema.org/AccountingService">

		<header class="Header">
			<div class="Frame FLC">
				<hgroup class="branding">
					<h1 class="logo" itemprop="name"><a href="/">Ronald Newton</a></h1>
					<h2 class="tagline" itemprop="description">Attorney at Law</h2>
				</hgroup>
				<p class="contact"><a href="tel:19099060271" class="phone">Call (909) 906-0271</a></p>
			</div>
		</header><!-- Header : end -->

		<article class="Body">
			{{ content }}
		</article><!-- Body : end -->
	</body>
</html>
